.locations__page {
  .row &-info {
    gap: 2.5rem;
    padding: 8rem;
    flex-basis: 65% !important;
    background-color: var(--very-light-peach);

    .info {
      gap: 8rem;
    }
  }

  .locations__title {
    font-size: 3.8rem;
    font-weight: 600;
    color: var(--peach);
  }

  &-list {
    font-size: 1.6rem;
  }
}

//small laptop
@media (min-width: 47.9em) and (max-width: 75em) {
  .locations__page {
    .row &-info {
      padding: 6rem;

      .info {
        gap: 4rem;
      }
    }
  }
}
//tablet screen
@media (max-width: 75em) {
  .locations__page {
    .row {
      gap: 3rem;
      flex-direction: column;
      & .locations__page-info {
        width: 100%;
      }
    }
    .locations__img {
      order: -1;
      width: 100%;
    }
  }
}
//phone screen
@media (max-width: 47.9em) {
  .row {
    gap: 0 !important;

    .locations__page-info {
      align-items: center;
      border-radius: 0 !important;
      //   h3 {
      //     text-align: center;
      //   }
      .info {
        flex-direction: column;
        gap: 2rem;
      }
    }

    .locations__page-list {
      text-align: center;
      &:last-child {
        padding: 0;
      }
    }
  }

  .locations__img {
    img {
      border-radius: 0 !important;
    }
  }
}
